/* Override to hide extra icon on parent card in BusinessConnections */

.parent-card-extra-icon,
.parent-card-extra-icon::before,
.parent-card-extra-icon::after {
  display: none !important;
  background: none !important;
  content: none !important;
}
